body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    border: solid black 1px;
    height: 500px;
    width: 1200px;
    padding: 0 20px;
    margin: 20px;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.left {
    flex: 0.6;
    margin-right: 20px;
}

.right {
    flex: 1;
}

textarea {
    width: 100%;
    height: 200px;
    /* Set a fixed height for the textarea */
    line-height: 1.5;
    /* Set a fixed line height */
    resize: none;
    /* Disable textarea resizing */
    padding: 10px;
    /* Add padding for better appearance */
    font-size: 16px;
    /* Adjust font size */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#outputTextHandwritten {
    line-height: 1.5;
    /* Set a fixed line height */
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.output-area {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    /* Adjust heading font size */
    margin-bottom: 10px;
    /* Add some bottom margin for separation */
}